<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
   
    <script src="https://kit.fontawesome.com/42a182743f.js" crossorigin="anonymous"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../../public/css/navbar.css" />
<link rel="stylesheet" href="../../public/css/login.css">
    <title>Update Password</title>
  </head>
  <body>
    <!-- navbar -->
    <!-- check if user is login -->
    <%if(authUser){%> <%-include('../partials/privateNav.ejs')%> <%}else{%>
      <%-include('../partials/navbar.ejs')%> <% }%>
    <!-- end navbar -->
    <!-- login page -->
    <div class="form-container">
    <h1>Update Password</h1>
    <!-- login icon -->
    <div class="login-icon">
      <i class="fas fa-user-plus"></i>
    </div>
    <!-- display error msg -->
   <div style="color: red; margin-bottom: 10px;">
    <%=error%> 
   </div>
    <form action="/users/updatePassword/<%=authUser._id%> " method="post" class="login">
      
      <div class="login-form-input">
        <label for="password">Password</label>
        <input type="password"  name="password" id="password" />
      </div>
     
      <div class="login-form-input">
        <button type="submit">Update Password</button>
      </div>
    </div>
    <script src="./js/navbar.js"></script>
  </body>
</html>
